/* Config */

/* Helpers */

/* Core */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

body,
input,
button,
textarea {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

textarea {
    resize: vertical;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

input,
textarea {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: "KisCBT";
    src: url("../fonts/KisCBT/regular/KisCBT.eot");
    src: url("../fonts/KisCBT/regularKisCBT.eot?#iefix") format('embedded-opentype'),
        url("../fonts/KisCBT/regular/KisCBT.ttf") format('truetype'),
        url("../fonts/KisCBT/regular/KisCBT.woff") format('woff'),
        url("../fonts/KisCBT/regular/KisCBT.svg") format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "KisCBT";
    src: url("../fonts/KisCBT/italic/KisCBT-Italic.eot");
    src: url("../fonts/KisCBT/italicKisCBT-Italic.eot?#iefix") format('embedded-opentype'),
        url("../fonts/KisCBT/italic/KisCBT-Italic.ttf") format('truetype'),
        url("../fonts/KisCBT/italic/KisCBT-Italic.woff") format('woff'),
        url("../fonts/KisCBT/italic/KisCBT-Italic.svg") format('svg');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Formular";
    src: url("../fonts/Formular/regular/Formular-Regular.eot");
    src: url("../fonts/Formular/regularFormular-Regular.eot?#iefix") format('embedded-opentype'),
        url("../fonts/Formular/regular/Formular-Regular.ttf") format('truetype'),
        url("../fonts/Formular/regular/Formular-Regular.woff") format('woff'),
        url("../fonts/Formular/regular/Formular-Regular.svg") format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Formular";
    src: url("../fonts/Formular/light/Formular-Light.eot");
    src: url("../fonts/Formular/lightFormular-Light.eot?#iefix") format('embedded-opentype'),
        url("../fonts/Formular/light/Formular-Light.ttf") format('truetype'),
        url("../fonts/Formular/light/Formular-Light.woff") format('woff'),
        url("../fonts/Formular/light/Formular-Light.svg") format('svg');
    font-style: normal;
    font-weight: 200;
}
.btn {
    border: none;
    background: none;
    outline: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    cursor: pointer;
    text-decoration: none;
}

.btn--menu {
    width: 24px;
    height: 17px;
    border-top: solid 3px #000;
    border-bottom: solid 3px #000;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.btn--menu::after {
    content: "";
    display: block;
    border-top: solid 3px #000;
}

.btn--buy {
    font-size: 11px;
    width: 260px;
    height: 34px;
    line-height: 34px;
    text-transform: uppercase;
    font-family: 'Formular', sans-serif;
    letter-spacing: 1px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: url(../images/buy-btn.jpg) no-repeat;
    -webkit-background-size: 260px 68px;
            background-size: 260px 68px;
}

.btn--buy:hover {
    background-position: left bottom;
}

@media screen and (min-width: 420px) {
    .btn--buy {
        font-size: 18px;
        width: 354px;
        height: 45px;
        line-height: 45px;
        -webkit-background-size: 354px 90px;
                background-size: 354px 90px;
    }
}
.text-content h1 {
    font-size: 38px;
    line-height: 28px;
    margin-bottom: 22px;
}
.text-content h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    font-family: 'Formular', sans-serif;
    margin-bottom: 16px;
}
.text-content blockquote {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 35px;
    margin-top: 35px;
    font-family: 'KisCBT', serif;
    font-style: italic;
    color: #FCAE00;
}
.text-content i {
    font-style: italic;
}
.text-content p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 18px;
}
.text-content p.space {
    line-height: 2px;
}
.text-content ul li {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 18px;
}
.text-content .incut {
    margin-bottom: 48px;
}
.text-content .incut a {
    border-bottom: none;
    color: inherit;
}
.text-content .incut a:hover {
    border-bottom: none;
}
.text-content .incut img {
    max-width: 100%;
    margin-bottom: 7px;
}
.text-content .incut p {
    font-family: 'Formular', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}
.text-content .incut p a {
    text-decoration: none;
    border-bottom: 1px solid #323232;
    border-color: rgba(50, 50, 50, 0.25);
    display: inline;
    -webkit-transition: border-color .3s ease-out, color .3s ease-out;
         -o-transition: border-color .3s ease-out, color .3s ease-out;
            transition: border-color .3s ease-out, color .3s ease-out;
}
.text-content .incut p a:hover {
    border-color: rgb(50, 50, 50);
}

@media screen and (min-width: 640px) {
    .text-content h1 {
        font-size: 60px;
        line-height: 28px;
    }
    .text-content h2 {
        font-size: 22px;
        line-height: 26px;
    }
    .text-content blockquote {
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 45px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) {
    .text-content {
        position: relative;
    }
    .text-content .incut {
        position: absolute;
        left: 100%;
        margin-left: 20px;
        width: 234px;
    }
}

@media screen and (min-width: 960px) {
    .text-content blockquote {
        margin-left: 54px;
    }
    .text-content ul {
        margin-left: 54px;
        margin-bottom: 36px;
    }
}

/* Layout */
body {
    font-family: 'KisCBT', serif;
    font-size: 24px;
    background-color: #F7F6F4;
    color: #323232;
}
body.modal-open {
    overflow: hidden;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #323232;
    border-color: rgba(50, 50, 50, 0.25);
    display: inline;
    -webkit-transition: border-color .3s ease-out, color .3s ease-out;
         -o-transition: border-color .3s ease-out, color .3s ease-out;
            transition: border-color .3s ease-out, color .3s ease-out;
}

a:hover {
    border-color: rgb(50, 50, 50);
}

@media screen and (min-width: 768px) {
    body.training,
        body.consulting,
        body.speaking {
        background-repeat: no-repeat;
        background-position: 100% 140px;
    }
    body.training {
        background-image: url(../images/backgrounds/training.jpg);
        -webkit-background-size: 400px 360px;
                background-size: 400px 360px;
    }
    body.consulting {
        background-image: url(../images/backgrounds/consulting.jpg);
        -webkit-background-size: 380px 360px;
                background-size: 380px 360px;
    }
    body.speaking {
        background-image: url(../images/backgrounds/speaking.jpg);
        -webkit-background-size: 290px 455px;
                background-size: 290px 455px;
    }
}

@media screen and (min-width: 1024px) {
    body.consulting {
        -webkit-background-size: 430px 410px;
                background-size: 430px 410px;
    }
    body.speaking {
        -webkit-background-size: 350px 515px;
                background-size: 350px 515px;
    }
}

@media screen and (min-width: 1152px) {
    body.consulting {
        -webkit-background-size: 500px 480px;
                background-size: 500px 480px;
    }
    body.speaking {
        -webkit-background-size: 440px 605px;
                background-size: 440px 605px;
    }
}
.header {
    border-top: solid 11px #323232;
    padding-top: 23px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 98px;
    overflow: hidden;
}
.header .mainNav {
    display: none;
    float: right;
}
.header .logo {
    float: left;
}
.header .btn--menu {
    float: right;
    margin-top: 14px;
}

.header-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.logo-img {
    width: 213px;
}

.logo a {
    text-decoration: none;
}

.mainNav-item {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Formular', sans-serif;
    padding: 8px 10px 10px 10px;
    margin: 0px 1px;
}

.mainNav-item.is-active {
    background: #E7E0D8;
    border-radius: 5px;
}

.mainNav-item.is-active a {
    cursor: default;
    border-bottom: none;
    color: inherit;
}

.mainNav-item.is-active a:hover {
    border-bottom: none;
}

@media screen and (min-width: 480px) {
    .logo-img {
        width: 293px;
    }
    .header .btn--menu {
        margin-top: 22px;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding-top: 30px;
        margin-bottom: 168px;
    }
    .header .mainNav {
        display: block;
        margin-top: 17px;
    }
    .header .btn--menu {
        display: none;
    }
}
.footer {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 55px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Formular', sans-serif;
    font-weight: 200;
}

.footer-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.footer-email {
    margin-bottom: 20px;
}

.footer-socialLinks {
    margin-bottom: 26px;
}

.footer-socialLinks li {
    display: inline-block;
    vertical-align: top;
    margin: 0px 3px;
}

.footer-socialLinks li a {
    border-bottom: none;
    color: inherit;
}

.footer-socialLinks li a:hover {
    border-bottom: none;
}

.footer-socialLinks .socialLink-name {
    display: none;
}

.footer-socialLinks .socialLink-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/social-likes-sprite.png) no-repeat;
    -webkit-background-size: 149px 28px;
            background-size: 149px 28px;
}

.footer-socialLinks .icon--facebook {
    background-position: 0px 0px;
}

.footer-socialLinks .icon--liveJournal {
    background-position: -36px 0px;
}

.footer-socialLinks .icon--slideShare {
    background-position: -79px 0px;
    margin-left: 4px;
}

.footer-socialLinks .icon--twitter {
    background-position: -123px 0px;
}

@media screen and (min-width: 768px) {
    .footer {
        padding-bottom: 65px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .footer a[href^=tel] {
        border-bottom: none;
        color: inherit;
    }
    .footer a[href^=tel]:hover {
        border-bottom: none;
    }
    .footer-inner {
        overflow: hidden;
    }
    .footer-phone,
    .footer-email,
    .footer-socialLinks {
        display: inline-block;
        vertical-align: top;
        margin-right: 23px;
        margin-bottom: 18px;
    }
    .footer-email {
        margin-right: 18px;
    }
    .footer-socialLinks .socialLink-name {
        display: block;
        text-decoration: none;
        border-bottom: 1px solid #323232;
        border-color: rgba(50, 50, 50, 0.25);
        display: inline;
        -webkit-transition: border-color .3s ease-out, color .3s ease-out;
             -o-transition: border-color .3s ease-out, color .3s ease-out;
                transition: border-color .3s ease-out, color .3s ease-out;
    }
    .footer-socialLinks .socialLink-name:hover {
        border-color: rgba(50, 50, 50, 1);
    }
    .footer-socialLinks .socialLink-icon {
        display: none;
    }
    .footer-socialLinks li {
        margin: 0px;
    }
    .footer-socialLinks li a {
        display: inline-block;
        vertical-align: top;
    }
    .footer-socialLinks li::after {
        content: "·";
        margin-left: 4px;
        margin-right: 4px;
        display: inline-block;
        vertical-align: top;
    }
    .footer-socialLinks li:last-child::after {
        display: none;
    }
}

@media screen and (min-width: 960px) {
    .footer {
        text-align: left;
    }
    .footer-phone,
    .footer-email,
    .footer-socialLinks {
        margin-bottom: 0px;
    }
    .footer-language {
        float: right;
    }
}
.mobileNav {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000px;
    -webkit-transition: background 300ms ease-out;
         -o-transition: background 300ms ease-out;
            transition: background 300ms ease-out;
    overflow: auto;
}

.mobileNav-inner {
    background: #323232;
    background: rgba(0, 0, 0, .7);
    padding-bottom: 38px;
    padding-top: 38px;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform .3s ease-out;
         -o-transition: -o-transform .3s ease-out;
            transition: transform .3s ease-out;
    text-align: center;
}

.mobileNav.in .mobileNav-inner {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
}

.mobileNav-item {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 32px;
    -webkit-transition: color .3s ease-out;
         -o-transition: color .3s ease-out;
            transition: color .3s ease-out;
    font-family: 'Formular', sans-serif;
    letter-spacing: .7px;
}

.mobileNav-item a {
    text-decoration: none;
    border-bottom: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.25);
    display: inline;
    -webkit-transition: border-color .3s ease-out, color .3s ease-out;
         -o-transition: border-color .3s ease-out, color .3s ease-out;
            transition: border-color .3s ease-out, color .3s ease-out;
}

.mobileNav-item a:hover {
    border-color: rgb(255, 255, 255);
}

.mobileNav-item.is-active {
    color: #FF8E1E;
    font-weight: 700;
}

.mobileNav-item.is-active a {
    border-bottom: none;
    color: inherit;
}

.mobileNav-item.is-active a:hover {
    border-bottom: none;
}

.mobileNav-close {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 64px;
    outline: 0;
    cursor: pointer;
    background: url(../images/close.png) no-repeat;
    -webkit-background-size: 64px 64px;
            background-size: 64px 64px;
    border-bottom: none;
    color: inherit;
}

.mobileNav-close:hover {
    border-bottom: none;
}

@media screen and (min-width: 640px) {
    .mobileNav-item {
        font-size: 18px;
        margin-bottom: 32px;
    }
}

/* Pages */
.page--home {
    padding-left: 30px;
    padding-right: 5px;
    background: url(../img/hands.jpg) top center no-repeat;
    -webkit-background-size: 100% auto;
            background-size: 100% auto;
    margin-top: -60px;
    padding-top: 130px;
}
.page--home .page-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.page--home .intro {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 41px;
    margin-left: auto;
    margin-right: auto;
}
.page--home .intro a, .page--home .intro span {
    color: #FCAE00;
    font-family: 'Formular', sans-serif;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: .6px;
}
.page--home .intro a {
    border-color: #FCAE00;
}
.page--home .intro a:hover {
    border-color: rgba(249, 82, 84, 1);
}
.page--home .intro-photoImg,
    .page--home .intro-bookImg {
    display: inline;
    vertical-align: middle;
    margin-top: -5px;
}
.page--home .intro-photoImg {
    max-height: 37px;
}
.page--home .intro-bookImg {
    max-height: 32px;
}

@media screen and (min-width: 640px) {
    .page--home {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 35%;
    }
    .page--home .intro {
        font-size: 32px;
        line-height: 46px;
    }
    .page--home .intro a {
        border-width: 2px;
    }
}

@media screen and (min-width: 768px) {
    .page--home {
        padding-top: 28%;
    }
}

@media screen and (min-width: 960px) {
    .page--home .intro {
        font-size: 46px;
        line-height: 64px;
        max-width: 100%;
        margin-bottom: 107px;
    }
    .page--home .intro a, .page--home .intro span {
        font-size: 40px;
    }
    .page--home .intro-photoImg {
        max-height: 68px;
    }
    .page--home .intro-bookImg {
        max-height: 61px;
        margin: 0px 4px;
    }
}

@media screen and (min-width: 1024px) {
    .page--home {
        -webkit-background-size: 100% auto;
                background-size: 100% auto;
        margin-top: -80px;
    }
}
.page--view {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 80px;
}
.page--view .page-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
}
.page--view .page-nextLink {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 28px;
    border-bottom: none;
    color: inherit;
}
.page--view .page-nextLink:hover {
    border-bottom: none;
}
.page--view .page-nextLink img {
    margin-bottom: 16px;
    display: block;
}
.page--view .page-nextLink span {
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid #323232;
    border-color: rgba(50, 50, 50, 0.25);
    display: inline;
    -webkit-transition: border-color .3s ease-out, color .3s ease-out;
         -o-transition: border-color .3s ease-out, color .3s ease-out;
            transition: border-color .3s ease-out, color .3s ease-out;
}
.page--view .page-nextLink span:hover {
    border-color: rgb(50, 50, 50);
}
.page--view .page-nextLink span::after {
    content: "→";
    position: absolute;
    left: 100%;
    top: 50%;
    margin-left: 7px;
    margin-top: -18px;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}
.page--view .page-footer {
    text-align: center;
}
.page--view .page-title {
    font-size: 38px;
    line-height: 28px;
    margin-bottom: 22px;
}
.page--view.page--clients .page-title {
    margin-bottom: 40px;
}
.page--view .clients-group {
    position: relative;
    left: -5px;
    margin-bottom: 40px;
}
.page--view .clients-group .group-title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    font-family: 'Formular', sans-serif;
    margin-bottom: 16px;
    text-indent: 11px;
}
.page--view .speaking-themes {
    overflow: hidden;
    margin-bottom: 18px;
}
.page--view .speaking-themes h4 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 18px;
}
.page--view .speaking-themes li {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 18px;
}
.page--view .speaking-themes i {
    font-family: 'KisCBT', serif;
    font-style: italic;
}
.page--view .teasers {
    max-width: 960px;
    margin-top: 42px;
    margin-bottom: 7px;
}
.page--view .teasers-item {
    width: 245px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;
    text-align: center;
}
.page--view .teasers-item img {
    margin-bottom: 7px;
}
.page--view .teasers-item h3 {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Formular', sans-serif;
    font-weight: 700;
    margin-bottom: 9px;
}
.page--view .teasers-item p {
    font-size: 16px;
    line-height: 22px;
    font-family: 'Formular', sans-serif;
    font-weight: 200;
}

@media screen and (min-width: 768px) {
    .page--view {
        padding-left: 5%;
        padding-right: 5%;
    }
    .page--view .teasers-list {
        text-align: justify;
    }
    .page--view .teasers-list::after {
        content: "";
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }
    .page--view .teasers-item {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        max-width: 245px;
        text-align: left;
    }
    .page--view .teasers-item:nth-child(1) img {
        margin-left: -6px;
    }
    .page--view .teasers-item:nth-child(3) img {
        margin-left: -10px;
    }
}

@media screen and (min-width: 768px) {
    .page--view .speaking-themes ul {
        float: left;
        width: 45%;
        margin-right: 4%;
    }
    .page--view .page-title {
        font-size: 60px;
        line-height: 28px;
        margin-bottom: 39px;
    }
    .page--view.page--clients .page-title {
        margin-bottom: 80px;
    }
    .page--view .incut--top {
        top: 8px;
    }
    .page--view .page-column.page-column--main {
        width: 62.7%;
    }
    .page--view .page-column.page-column--main .incut {
        width: 48%;
        margin-left: 11%;
        max-width: 240px;
    }
}

@media screen and (min-width: 960px) {
    .page--view .speaking-themes ul {
        float: left;
        width: 44%;
        margin-left: 30px;
        margin-right: 0px;
    }
    .page--view.page--speaking {
        background: url(../images/backgrounds/wire.jpg) 100% 570px repeat-x;
    }
    .page--view.page--speaking .microcord-placeholder {
        height: 145px;
    }
    .page--view .page-column.page-column--main {
        width: 67.7%;
    }
    .page--view .page-column.page-column--main .incut {
        width: 37%;
    }
}

@media screen and (min-width: 1024px) {
    .page--view.page--speaking {
        background-position: 100% 547px;
    }
}

@media screen and (min-width: 1152px) {
    .page--view .speaking-themes ul {
        margin-left: 5.8%;
    }
}