/* Mask: */
background: #EAEAEA;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), 0px 2px 4px 0px rgba(0,0,0,0.50);
/* MIREA_Logo.svg: */
/* Система тестирования: */
font-family: Helvetica;
font-size: 72px;
color: #038FCA;
/* VisualButton: */
background: #D8D8D8;
border: 1px solid #979797;
/* Line: */
border: 1px solid #979797;
/* Line: */
border: 1px solid #979797;
/* images: */
background: rgba(205,127,0,0.89);
/* Регистрация: */
font-family: Helvetica;
font-size: 72px;
color: #FFFFFF;
/* VisualButton: */
background: #D8D8D8;
border: 1px solid #979797;
/* Line: */
border: 1px solid #979797;
/* 31-01-2016-2: */
background: rgba(3,140,1,0.93);
border: 1px solid #979797;
/* Результаты: */
font-family: Helvetica;
font-size: 72px;
color: #FBFBFB;
/* Line: */
border: 1px solid #979797;
/* Line: */
border: 1px solid #979797;
/* Mask: */
background: #D8D8D8;
/* online-tests: */
background: rgba(0,111,199,0.91);
/* Тесты: */
font-family: Helvetica;
font-size: 65.45px;
color: #FFFFFF;
/* Line: */
border: 1px solid #979797;
/* Line: */
border: 1px solid #979797;
/* Line: */
border: 1px solid #979797;
/* Mask: */
background: #D8D8D8;
/* shields-security-bags-login: */
background: rgba(148,0,0,0.82);
/* Login: */
font-family: Helvetica;
font-size: 72px;
color: #FFFFFF;
/* Line: */
border: 3px solid #979797;